.counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
    margin-top: 1em;
}

.counter-text {
    font-size: 30px;
    font-weight: bold;
}

.counter-btn {
    padding: 10px;
    font-size: 30px;
    background-color: black;
    border: black;
}

.counter-btn:hover {
    padding: 10px;
    cursor: pointer;
    font-size: 40px;
    background-color: black;
    border: black;
}